<h1> Welcome Super Admin! </h1>
<button class="btn btn-success" (click)="logout()">LOGOUT</button> 
<button class="btn btn-info" (click)="GetUser()">
Get Users
</button>

<div *ngIf="user">
<table style="width:100%">
  <tr>
    <th>User Name</th>
    <th>Password</th>
    <th>Name</th>
    <th>User Type</th>
  </tr>
  <br>
  <tr *ngFor="let item of user; let i = index">
    <td>{{item.username}}</td>
    <td>{{item.password}}</td>
    <td>{{item.name}}</td>
    <td>{{item.usertype}}</td>
    <button (click)="save(item._id)" type="submit" class="btn btn-info">Edit</button>
    <button class="btn btn-info" (click)="DeleteUser(item.username)">delete</button>
  </tr>
</table>

<div *ngIf="flag">
  <form  (ngSubmit)="updateuser(dropdown.value)">
    <div class="form-group">
      <input required type="text" name="name" [(ngModel)]="Newuser.name" #name="ngModel"  placeholder="New name" class="form-control">
      <input required type="password" name="password" [(ngModel)]="Newuser.password" #password="ngModel"  placeholder="New password" class="form-control">
    </div>
         <select #dropdown>
  <option  value="2" name="usertype" ngDefaultControl>Admin</option>
  <option  value="3" name="usertype" ngDefaultControl>User</option>
</select>
    <button type="submit" [routerLink]="['/super-admin']" class="btn btn-success">Update</button>
  </form>
</div>
<button class="btn btn-info" (click)="add()">
Add User
</button>

<div *ngIf="flag1">
  <form  (ngSubmit)="addUser(dropdown.value)">
    <div class="form-group">
      <input required type="text" name="username" [(ngModel)]="Newuser.username" #username="ngModel" placeholder="Type Username" class="form-control">
      <input required type="text" name="name" [(ngModel)]="Newuser.name" #name="ngModel"  placeholder="Type Name" class="form-control">
      <input required type="password" name="password" [(ngModel)]="Newuser.password" #password="ngModel"  placeholder="Type password" class="form-control">
    </div>
         <select #dropdown>
  <option  value="2" name="usertype" ngDefaultControl>Admin</option>
  <option  value="3" name="usertype" ngDefaultControl>User</option>
</select>
    <button type="submit" [routerLink]="['/super-admin']" class="btn btn-success">Update</button>
  </form>
</div>
