<app-header></app-header>
<form  (ngSubmit)="registerUser()">
  <div class="form-group">
    <input required type="text" name="name" [(ngModel)]="Newuser.name" #name="ngModel"  placeholder="New name" class="form-control">
    <input required type="password" name="password" [(ngModel)]="Newuser.password" #password="ngModel"  placeholder="Password" class="form-control">
    <input required type="username" name="username" [(ngModel)]="Newuser.username" #username="ngModel"  placeholder="Username" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Register</button>
</form>
