
<nav class="navbar navbar-default navbar-static-top Header">
  <div class="container" style="background-color:neon;">
    <ul class="nav navbar-nav navbar-left">
      <li>
        <a routerLink='/search' routerLinkActive="active">Search</a>
      </li>
    </ul>
    <ul  class="nav navbar-nav navbar-right">
      <li>
        <a routerLink='/login'  routerLinkActive="active">
          <span class="glyphicon glyphicon-log-in"></span>Login</a>
      </li>
    </ul>
    <ul  class="nav navbar-nav navbar-right">
      <li>
        <a routerLink='/register'  routerLinkActive="active">New User? Register!</a>
      </li>
    </ul>
  </div>
</nav>
<body>


  <h1 style="color:#EA2328; font-family:congrats script; text-align:center;">
  Comic City!
</h1>
<span>
<div>
  <img style="width:100%" src="http://cdn3.bigcommerce.com/s-ucnqcga/images/stencil/2048x2048/b/dccomics__23109.original.jpg">
  </div>
  <!-- <div>
  <img style="width:50%" src="http://www.redhotcomics.co.uk/media/catalog/category/dc-comics.png">
</div> -->
</span>

</body>
