
<div class="container">
  <div class="col-sm">
    <input type="text" class="form-control input-sm" placeholder="Search" name="searchitem" [(ngModel)]="searchitem1 ">

  <button class="btn btn-info" (click)="SearchComic()">
        <span class="glyphicon glyphicon-search"></span>SearchComic
  </button>
    <button class="btn btn-info" (click)="SearchSeries()">
        <span class="glyphicon glyphicon-search"></span>SearchSeries
  </button>

    <button class="btn btn-info" (click)="SearchSeason()">
        <span class="glyphicon glyphicon-search"></span>SearchSeason
  </button>
</div>
</div>
